.DashBoard{
    font-family: "Twklausanne ",Arial,sans-serif;
}

.Other-section{
    margin-left: 110px;
    margin-right: 110px;
}

@media(max-width: 700px){
    .Other-section{
        margin-left: 30px;
        margin-right: 30px;
    }
}