body {
  margin: 0;
  font-family: "Inter", sans-serif;

  background-color: white;

}

.main {
  padding: 40px;
}

.Hero {
  max-width: 1100px;
  margin: auto;
  display: flex;
  height: 82vh;
  border-radius: 24px;
  overflow: hidden;
  background: white;
  box-shadow: 0 30px 80px rgba(0,0,0,0.08);
}

.img-signup {
  flex: 1;
  position: relative;
}

.img-sign {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay-sign {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(17,24,39,0.6),
    rgba(17,24,39,0.2)
  );
}


.form {
  flex: 1;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hadding {
  font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #111827;
}


.form-lable {
  margin-top: 10px;
  font-size: 20px;
  color: #6b7280;
  font-weight: 500;
}


.form-input {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #e5e7eb;
  background: transparent;
  font-size: 20px;
  transition: 0.3s;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #6366f1;
}





.button-sign {
  margin-top: 30px;
  width: 100%;
  padding: 14px;
  background: black;
  border: none;

  font-size: 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-sign:hover {
  background: rgb(243, 172, 84);
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 20px 25px rgba(37, 37, 38, 0.3);
}


.para-log {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.para-log a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}


@media (max-width: 900px) {
  .Hero {
    flex-direction: column;
    height: auto;
  }

  .img-signup {
    display: none;
  }

  
  .form {
    flex: 1;
    padding: 20px 20px;
    height: 90vh;
    justify-content: start;
  }
  .main {
    padding: 0px;
  }
  .Hero {
  
    height: 92vh;
    
    box-shadow: 0;
  }
}